---
layout: home
---
<div class="home">
  <div class="content center">
     <h1 class="main-header"> DMITRY CHOPEY</h1>
     <div class="greetings"> 
       Passionate <span class="highlight"> web developer</span> who likes creating interesting
       and unusual solutions with <span class="highlight">clear</span> and <span class="highlight">maintainable</span> code

      </div>
      <nav class="main-nav">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a> |
          {% endif %}
        {% endfor %}
	 <a href="_assets/downloads/DMITRY_CHOPEY.pdf">CV</a>
      </nav>
  </div>
</div>
